USE [master]
GO
CREATE DATABASE [DBQuanLyKhachSan]
 
GO
USE [DBQuanLyKhachSan]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[idBooking] [int] IDENTITY(1,1) NOT NULL,
	[totalMoney] [int] NOT NULL,
	[checkInDate] [nvarchar](max) NULL,
	[checkOutDate] [nvarchar](max) NULL,
	[status] [int] NOT NULL,
	[isPayment] [bit] NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[idRoom] [int] NOT NULL,
	[idUser] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Bookings] PRIMARY KEY CLUSTERED 
(
	[idBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingServices](
	[idBookingService] [int] IDENTITY(1,1) NOT NULL,
	[idBooking] [int] NOT NULL,
	[idService] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BookingServices] PRIMARY KEY CLUSTERED 
(
	[idBookingService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[idRole] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomComments](
	[idRoomComment] [int] IDENTITY(1,1) NOT NULL,
	[idRoom] [int] NOT NULL,
	[text] [nvarchar](max) NULL,
	[idUser] [int] NOT NULL,
	[star] [int] NOT NULL,
	[createdDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.RoomComments] PRIMARY KEY CLUSTERED 
(
	[idRoomComment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[idRoom] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[discount] [int] NOT NULL,
	[cost] [int] NOT NULL,
	[idType] [int] NOT NULL,
	[view] [int] NOT NULL,
	[numberChildren] [int] NOT NULL,
	[numberAdult] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[idRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[idService] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[cost] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[idService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[idType] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Types] PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[fullName] [nvarchar](255) NOT NULL,
	[userName] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phoneNumber] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[gender] [nvarchar](max) NULL,
	[status] [int] NOT NULL,
	[idRole] [int] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([idBooking], [totalMoney], [checkInDate], [checkOutDate], [status], [isPayment], [createdDate], [idRoom], [idUser]) VALUES (30, 500000, N'2023-03-21', N'2023-03-23', 3, 1, CAST(N'2023-03-20T20:35:48.923' AS DateTime), 1, 1)
INSERT [dbo].[Bookings] ([idBooking], [totalMoney], [checkInDate], [checkOutDate], [status], [isPayment], [createdDate], [idRoom], [idUser]) VALUES (31, 600000, N'2023-03-22', N'2023-03-24', 3, 1, CAST(N'2023-03-21T21:58:31.143' AS DateTime), 1, 9)
INSERT [dbo].[Bookings] ([idBooking], [totalMoney], [checkInDate], [checkOutDate], [status], [isPayment], [createdDate], [idRoom], [idUser]) VALUES (32, 560000, N'2023-03-22', N'2023-03-24', 3, 1, CAST(N'2023-03-21T22:13:12.303' AS DateTime), 2, 9)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingServices] ON 

INSERT [dbo].[BookingServices] ([idBookingService], [idBooking], [idService]) VALUES (35, 30, 4)
INSERT [dbo].[BookingServices] ([idBookingService], [idBooking], [idService]) VALUES (36, 31, 2)
INSERT [dbo].[BookingServices] ([idBookingService], [idBooking], [idService]) VALUES (37, 31, 4)
SET IDENTITY_INSERT [dbo].[BookingServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([idRole], [name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([idRole], [name]) VALUES (2, N'Nhân viên')
INSERT [dbo].[Roles] ([idRole], [name]) VALUES (3, N'Khách hàng')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([idService], [name], [cost]) VALUES (1, N'Vui chơi', 400000)
INSERT [dbo].[Services] ([idService], [name], [cost]) VALUES (2, N'Giải trí', 100000)
INSERT [dbo].[Services] ([idService], [name], [cost]) VALUES (4, N'Buffet', 100000)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([idType], [name]) VALUES (1, N'Phòng VIP')
INSERT [dbo].[Types] ([idType], [name]) VALUES (2, N'Phòng đôi')
INSERT [dbo].[Types] ([idType], [name]) VALUES (3, N'Phòng bình dân')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([idUser], [fullName], [userName], [password], [phoneNumber], [address], [gender], [status], [idRole], [email]) VALUES (1, N'Khách hàng', N'khachhang', N'25f9e794323b453885f5181f1b624db', N'0394073758', N'Hà Nội', N'Nam', 0, 3, N'khachhang@gmail.com')
INSERT [dbo].[Users] ([idUser], [fullName], [userName], [password], [phoneNumber], [address], [gender], [status], [idRole], [email]) VALUES (2, N'Quản trị viên', N'admin', N'25f9e794323b453885f5181f1b624db', N'0394073758', N'Hà Nội', N'Nam', 0, 1, N'admin@gmail.com')
INSERT [dbo].[Users] ([idUser], [fullName], [userName], [password], [phoneNumber], [address], [gender], [status], [idRole], [email]) VALUES (3, N'Nguyễn Viên A', N'nguyenviena', N'25f9e794323b453885f5181f1b624db', N'0394073463', N'Hà Nội', N'Nữ', 0, 2, N'nguyenvien@gmail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
CREATE NONCLUSTERED INDEX [IX_idRoom] ON [dbo].[Bookings]
(
	[idRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idUser] ON [dbo].[Bookings]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idBooking] ON [dbo].[BookingServices]
(
	[idBooking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idService] ON [dbo].[BookingServices]
(
	[idService] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idRoom] ON [dbo].[RoomComments]
(
	[idRoom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idUser] ON [dbo].[RoomComments]
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idType] ON [dbo].[Rooms]
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_idRole] ON [dbo].[Users]
(
	[idRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RoomComments] ADD  DEFAULT ((0)) FOR [star]
GO
ALTER TABLE [dbo].[RoomComments] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [createdDate]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [view]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [numberChildren]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [numberAdult]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [email]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Rooms_idRoom] FOREIGN KEY([idRoom])
REFERENCES [dbo].[Rooms] ([idRoom])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Rooms_idRoom]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bookings_dbo.Users_idUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_dbo.Bookings_dbo.Users_idUser]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingServices_dbo.Bookings_idBooking] FOREIGN KEY([idBooking])
REFERENCES [dbo].[Bookings] ([idBooking])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_dbo.BookingServices_dbo.Bookings_idBooking]
GO
ALTER TABLE [dbo].[BookingServices]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BookingServices_dbo.Services_idService] FOREIGN KEY([idService])
REFERENCES [dbo].[Services] ([idService])
GO
ALTER TABLE [dbo].[BookingServices] CHECK CONSTRAINT [FK_dbo.BookingServices_dbo.Services_idService]
GO
ALTER TABLE [dbo].[RoomComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomComments_dbo.Rooms_idRoom] FOREIGN KEY([idRoom])
REFERENCES [dbo].[Rooms] ([idRoom])
GO
ALTER TABLE [dbo].[RoomComments] CHECK CONSTRAINT [FK_dbo.RoomComments_dbo.Rooms_idRoom]
GO
ALTER TABLE [dbo].[RoomComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomComments_dbo.Users_idUser] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([idUser])
GO
ALTER TABLE [dbo].[RoomComments] CHECK CONSTRAINT [FK_dbo.RoomComments_dbo.Users_idUser]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Rooms_dbo.Types_idType] FOREIGN KEY([idType])
REFERENCES [dbo].[Types] ([idType])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_dbo.Rooms_dbo.Types_idType]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_idRole] FOREIGN KEY([idRole])
REFERENCES [dbo].[Roles] ([idRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_idRole]
GO
USE [master]
GO
